main {
  padding: 10px;
}

.location-section {
  border: 1px black solid;
  margin: 10px 0;
  padding: 10px;
}

.location-action {
  text-decoration: underline;
}

.location-message-ok {
  background: lightgreen;
}

.location-message-error {
  background: pink;
}

.location-message-waiting {
  background: lightyellow;
}

.location-display-none {
  display: none;
}
